:root {
    --text-colour: #2c3106;
    --background-colour: #8adefc;
}

* {
    padding: 8px;
}

#under-c{
    background-color: yellow;
    color: black;
    text-align: center;
}
.page-title {
    color: var(--text-colour);
    background-color: var(--background-colour);
}